@{
    Layout = null;
    List<XYJHZX_MVC.Models.CurrentSchedulModel> Dates = ViewBag.CurrentData;
    var Keyid = "ViewForTeam";
    var Message = ViewBag.Message;
}
@Styles.Render("~/Content/css")
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<div><h2 style="float:left;margin:0px 20px 10px 40px;">@Message</h2><h3 id="h3date" style="float:left"></h3></div>
<div id="divViewForTeam" style="overflow-y:hidden;clear:both;">
    <table id="@Keyid" class="table table-striped table-bordered" style="font-size:60px;font-weight:bolder;font-family:'SimHei';">
        <tr>
            <td>机号</td>
            <td>姓名</td>
            <td>签到时间</td>
            <td>排队号</td>
        </tr>
        @if (Dates != null)
        {
            for (int i = 0; i < Dates.Count; i++)
            {
                <tr id="CurrentRows_@(i)">
                    <td>@(Dates[i].macname + "")</td>
                    <td>@(Dates[i].PatName + "")</td>
                    <td>@(Dates[i].signInDate + "")</td>
                    <td>@(Dates[i].SignInSeq == 0 ? "" : Dates[i].SignInSeq + "")</td>
                </tr>
            }
        }
    </table>
</div>
<script type="text/javascript">

    $(document.body).css({
        "overflow-x": "hidden",
        "overflow-y": "hidden"
    });

    function updateTime() {
        var timestamp = new Date();
        document.getElementById("h3date").innerText = timestamp.toLocaleString();
    }

    function refresh() {
        location.reload(true);
    }

    //先在table的最后增加一行，然后再把第一行中的数据填充到新增加的行中，最后再删除table的第一行
    function change(table) {
        for(x = 1; x < 7; x++)
        {
            var row = table.insertRow(table.rows.length);
            row.innerHTML = table.rows[0].innerHTML;
            table.deleteRow(0);
        }
    }

    function tableInterval() {
        var table = document.getElementById("@Keyid");//获得表格
        change(table);//执行表格change函数，删除第一行，最后增加一行，类似行滚动
    }

    @if (Dates!=null&&Dates.Count> 7)
    {
        var html = new MvcHtmlString("setInterval('tableInterval()', 6000);setInterval(refresh, 12000);");
        @html
    }
    else
    {
        var html = new MvcHtmlString("setInterval(refresh, 6000);");
        @html
    }
    updateTime();
    setInterval(updateTime, 1000);
</script>
