@{
    Layout = null;
    var Keyid = "NewSchedulTable";
    var Message = ViewBag.Message;
    List<XYJHZX_MVC.Models.SchedulShowModel> Dates = ViewBag.SchedulDate;
    List<XYJHZX_MVC.Models.PatientModel> PatientList = ViewBag.PatientListDate;
    List<XYJHZX_MVC.Models.SchedulColumns> SchedulColumnsList = ViewBag.SchedulColumnsDate;
}


    <div style="overflow:scroll;width:550px;height:700px;">
        <table id="@Keyid" class="table table-striped table-bordered">
            <tr>
                <td></td>
                <td><div style="width:40px;">机号</div></td>
                <td><div style="width:60px;">姓名</div></td>
                <td><div style="width:80px;">透析器</div></td>
                <td><div style="width:60px;">路径</div></td>
                <td><div style="width:120px;">抗凝剂</div></td>
                <td><div style="width:100px;">备注</div></td>
            </tr>

            @if (Dates != null)
            {
                for (int i = 0; i < Dates.Count; i++)
                {
                    List<XYJHZX_MVC.Models.PatientModel> PatientListTmp = new List<XYJHZX_MVC.Models.PatientModel>(PatientList);
                    if (Dates[i].patid != 0)
                    {
                        XYJHZX_MVC.Models.PatientModel _patientModelTmp = new XYJHZX_MVC.Models.PatientModel();
                        _patientModelTmp.PatId = Dates[i].patid;
                        _patientModelTmp.PatName = Dates[i].patName + "";
                        PatientListTmp.Insert(PatientListTmp.Count, _patientModelTmp);
                    }
                    if (!string.IsNullOrEmpty(Dates[i].dialyzerName) && !SchedulColumnsList.Exists(x => x.colDetailName == Dates[i].dialyzerName))
                    {
                        XYJHZX_MVC.Models.SchedulColumns columnsTmp = new XYJHZX_MVC.Models.SchedulColumns();
                        columnsTmp.colMainId = 19;
                        columnsTmp.colDetailId = 919;
                        columnsTmp.colDetailName = Dates[i].dialyzerName;
                        SchedulColumnsList.Add(columnsTmp);
                    }
                    if (!string.IsNullOrEmpty(Dates[i].routeName) && !SchedulColumnsList.Exists(x => x.colDetailName == Dates[i].routeName))
                    {
                        XYJHZX_MVC.Models.SchedulColumns columnsTmp = new XYJHZX_MVC.Models.SchedulColumns();
                        columnsTmp.colMainId = 20;
                        columnsTmp.colDetailId = 920;
                        columnsTmp.colDetailName = Dates[i].routeName;
                        SchedulColumnsList.Add(columnsTmp);
                    }
                    if (!string.IsNullOrEmpty(Dates[i].anticoagulantName) && !SchedulColumnsList.Exists(x => x.colDetailName == Dates[i].anticoagulantName))
                    {
                        XYJHZX_MVC.Models.SchedulColumns columnsTmp = new XYJHZX_MVC.Models.SchedulColumns();
                        columnsTmp.colMainId = 21;
                        columnsTmp.colDetailId = 921;
                        columnsTmp.colDetailName = Dates[i].anticoagulantName;
                        SchedulColumnsList.Add(columnsTmp);
                    }
                    <tr id="PatientRows_@(i)">
                        <td><input class="btn-info" type="button" value="清 空" onclick="ClearNewSchedulRows(@(i))" style="margin:3px 20px 0 0;" /></td>
                        <td>@Html.Label("MacName_@i", @Dates[i].macname, new { @class = "form-inline", @style = "width:40px;" })</td>
                        <td>@Html.DropDownList("PatName_" + i, new SelectList(PatientListTmp, "PatId", "PatName", Dates[i].patid + ""), new { @class = "form-control", @style = "width:100px", @onchange = "EditSchedulRows(" + (i) + ")" })</td>
                        <td>@Html.DropDownList("DialyzerName_" + i, new SelectList(SchedulColumnsList.Where(x => x.colMainId == 19).ToList<XYJHZX_MVC.Models.SchedulColumns>(), "colDetailId", "colDetailName", (Dates[i].dialyzerName == null || Dates[i].dialyzerName == "") ? "919" : SchedulColumnsList.Where(x => x.colDetailName == Dates[i].dialyzerName + "").ToList<XYJHZX_MVC.Models.SchedulColumns>()[0].colDetailId + ""), new { @class = "form-control", @style = "width:100px", @onchange = "EditSchedulRows(" + (i) + ")" })</td>
                        <td>@Html.DropDownList("RouteName_" + i, new SelectList(SchedulColumnsList.Where(x => x.colMainId == 20).ToList(), "colDetailId", "colDetailName", (Dates[i].routeName == null || Dates[i].routeName == "") ? "920" : SchedulColumnsList.Where(x => x.colDetailName == Dates[i].routeName + "").ToList<XYJHZX_MVC.Models.SchedulColumns>()[0].colDetailId + ""), new { @class = "form-control", @style = "width:100px", @onchange = "EditSchedulRows(" + (i) + ")" })</td>
                        <td>@Html.DropDownList("AnticoagulantName_" + i, new SelectList(SchedulColumnsList.Where(x => x.colMainId == 21).ToList(), "colDetailId", "colDetailName", (Dates[i].anticoagulantName == null || Dates[i].anticoagulantName == "") ? "921" : SchedulColumnsList.Where(x => x.colDetailName == Dates[i].anticoagulantName + "").ToList<XYJHZX_MVC.Models.SchedulColumns>()[0].colDetailId + ""), new { @class = "form-control", @style = "width:100px", @onchange = "EditSchedulRows(" + (i) + ")" })</td>
                        <td>@Html.TextBox("Remark_" + i, Dates[i].remark, new { @class = "form-control", @style = "width:100px", @onchange = "EditSchedulRows(" + (i) + ")" })</td>
                        <td style="display:none"><input id="MacId_@(i)" name="MacId_@(i)" value="@Dates[i].macid" /></td>
                        <td style="display:none"><input id="MainId_@(i)" name="SendDeptId_@(i)" value="@Dates[i].mainid" /></td>
                        <td style="display:none"><input id="PatId_@(i)" name="SendDeptId_@(i)" value="@Dates[i].patid" /></td>
                        <td style="display:none"><input id="SchedulStatus_@(i)" value="0" /></td>
                    </tr>
                }
            }
            <tr>
                <td colspan="10">
                    共 @Dates.Count 条记录
                </td>
            </tr>
        </table>
    </div>
</div>