@{
    Layout = null;
    var Keyid = "OldSchedulTable";
    var Message = ViewBag.Message;

    List<XYJHZX_MVC.Models.SchedulShowModel> Dates = ViewBag.SchedulDate;
}
<div style="overflow:scroll;width:580px;height:700px;">
    <table id="@Keyid" class="table table-striped table-bordered">
        <tr>
            <td><div style="width:30px;">机号</div></td>
            <td><div style="width:60px;">姓名</div></td>
            <td><div style="width:60px;">透析器</div></td>
            <td><div style="width:60px;">路径</div></td>
            <td><div style="width:120px;">抗凝剂</div></td>
            <td><div style="width:120px;">备注</div></td>
        </tr>
        @if (Dates != null)
        {
            for (int i = 0; i < Dates.Count; i++)
            {
                <tr id="OldSchedulRows_@(i)">
                    <td>@Dates[i].macname</td>
                    <td>@Dates[i].patName</td>
                    <td>@Dates[i].dialyzerName</td>
                    <td>@Dates[i].routeName</td>
                    <td>@Dates[i].anticoagulantName</td>
                    <td>@Dates[i].remark</td>
                    <td style="display:none">@Dates[i].macid </td>
                    <td style="display:none">@Dates[i].mainid></td>
                    <td style="display:none">@Dates[i].patid</td>
                    <td style="display:none">@Dates[i].SchedulDate</td>
                    <td style="display:none">@Dates[i].SchedulTime</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    查无数据！
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                共 @Dates.Count 条记录
            </td>
        </tr>
    </table>
</div>
