@{
    Layout = null;
    var Keyid = "SchedulPrint";
    List<List<XYJHZX_MVC.Models.SchedulPrint>> Dates = ViewBag.SchedulDate;
}

@if (Dates != null)
{
    <table id="@(Keyid)" style="font-family:'Microsoft YaHei UI';font-size:22px;border-color:black;border:solid;text-align:center;">

        @for (int i = 0; i < Dates.Count; i += 2)
        {
            <tr style="font-size:36px;border-color:black;border:solid;">
                <td colspan="7" style="border:solid;">@Dates[i][0].TeamDescption</td>
                <td colspan="7" style="border:solid;">@((i + 1 < Dates.Count) ? Dates[i + 1][0].TeamDescption : "")</td>
            </tr>
            <tr style="font-size:20px;border-color:black;border:solid;">
                <td style="border:solid;"><div style="width:50px;font-stretch:wider;">机号</div></td>
                <td style="border:solid;"><div style="width:90px;font-stretch:wider">姓名</div></td>
                <td style="border:solid;"><div style="width:80px;font-stretch:wider">透析器</div></td>
                <td style="border:solid;"><div style="width:80px;font-stretch:wider">路径</div></td>
                <td style="border:solid;"><div style="width:80px;font-stretch:wider">抗凝剂</div></td>
                <td style="border:solid;"><div style="width:80px;font-stretch:wider">备注</div></td>
                <td style="border:solid;"><div style="width:50px;font-stretch:wider">签到</div></td>
                @if (Dates.Count > 1)
                {
                    <td style="border:solid;"><div style="width:50px;">机号</div></td>
                    <td style="border:solid;"><div style="width:90px;">姓名</div></td>
                    <td style="border:solid;"><div style="width:80px;">透析器</div></td>
                    <td style="border:solid;"><div style="width:80px;">路径</div></td>
                    <td style="border:solid;"><div style="width:80px;">抗凝剂</div></td>
                    <td style="border:solid;"><div style="width:80px;">备注</div></td>
                    <td style="border:solid;"><div style="width:50px;">签到</div></td>
                }
            </tr>
            for (int j = 0; j < ((i + 1 < Dates.Count) ? (Dates[i].Count >= Dates[i + 1].Count ? Dates[i].Count : Dates[i + 1].Count) : Dates[i].Count); j++)
            {
                <tr style="font-size:20px;border-color:black;border:solid;">
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].MacName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].PatName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].DialyzerName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].RouteName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].AnticoagulantName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].Remark : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].SignInSeq.ToString() : "" )</td>
                    @if (i + 1 < Dates.Count)
                    {
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].MacName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].PatName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].DialyzerName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].RouteName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].AnticoagulantName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].Remark : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].SignInSeq.ToString() : "" )</td>
                    }
                    else
                    {
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                    }
                </tr>
            }
        }
    </table>
}
