@{
    Layout = null;
    var Keyid = "SchedulWeightPrint";
    List<XYJHZX_MVC.Models.SchedulPrint> Dates = ViewBag.SchedulDate;
}


@if (Dates != null)
{
    <table id="@(Keyid)" class="table table-striped table-bordered" style="font-size:16px;">
        <tr>
            <td><div style="width:40px;">机号</div></td>
            <td><div style="width:60px;">姓名</div></td>
            <td><div style="width:80px;">透前体重</div></td>
            <td><div style="width:80px;">透后体重</div></td>
            <td><div style="width:40px;">机号</div></td>
            <td><div style="width:60px;">姓名</div></td>
            <td><div style="width:80px;">透前体重</div></td>
            <td><div style="width:80px;">透后体重</div></td>
        </tr>
        @for (int i = 0; i < Dates.Count / 2 + Dates.Count % 2; i++)
        {
            <tr>
                <td>@Dates[i].MacName</td>
                <td>@Dates[i].PatName</td>
                <td>@((Dates[i].PatWeightBefore == 0) ? "" : Dates[i].PatWeightBefore.ToString())</td>
                <td>@((Dates[i].PatWeightAfter == 0) ? "" : Dates[i].PatWeightAfter.ToString())</td>
                @if (i < Dates.Count / 2)
                {
                    <td>@Dates[Dates.Count / 2 + i + 1].MacName</td>
                    <td>@Dates[Dates.Count / 2 + i + 1].PatName</td>
                    <td>@((Dates[Dates.Count / 2 + i + 1].PatWeightBefore == 0) ? "" : Dates[i * 2].PatWeightBefore.ToString())</td>
                    <td>@((Dates[Dates.Count / 2 + i + 1].PatWeightAfter == 0) ? "" : Dates[i * 2].PatWeightAfter.ToString())</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </table>
}