@{
    Layout = null;
    var Keyid = "SchedulWeightPrint";
    List<List<XYJHZX_MVC.Models.SchedulPrint>> Dates = ViewBag.SchedulDate;
}


@if (Dates != null)
{
    <table id="@(Keyid)" style="font-family:'Microsoft YaHei UI';font-size:28px;border-color:black;border:solid;text-align:center;">

        @for (int i = 0; i < Dates.Count; i += 2)
        {
            <tr style="font-size:36px;border-color:black;border:solid;">
                <td colspan="4" style="border:solid;">@Dates[i][0].TeamDescption</td>
                <td colspan="4" style="border:solid;">@((i + 1 < Dates.Count) ? Dates[i + 1][0].TeamDescption : "")</td>
            </tr>
            <tr style="border-color:black;border:solid;">
                <td style="border:solid;"><div style="width:80px;font-stretch:wider;">机号</div></td>
                <td style="border:solid;"><div style="width:150px;font-stretch:wider">姓名</div></td>
                <td style="border:solid;"><div style="width:130px;font-stretch:wider">透前体重</div></td>
                <td style="border:solid;"><div style="width:130px;font-stretch:wider">透后体重</div></td>
                @if (Dates.Count > 1)
                {
                    <td style="border:solid;"><div style="width:80px;font-stretch:wider;">机号</div></td>
                    <td style="border:solid;"><div style="width:150px;font-stretch:wider">姓名</div></td>
                    <td style="border:solid;"><div style="width:130px;font-stretch:wider">透前体重</div></td>
                    <td style="border:solid;"><div style="width:130px;font-stretch:wider">透后体重</div></td>
                }
            </tr>
            for (int j = 0; j < ((i + 1 < Dates.Count) ? (Dates[i].Count >= Dates[i + 1].Count ? Dates[i].Count : Dates[i + 1].Count) : Dates[i].Count); j++)
            {
                <tr style="border-color:black;border:solid;">
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].MacName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count ? Dates[i][j].PatName : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count && Dates[i][j].PatWeightBefore > 0 ? Dates[i][j].PatWeightBefore + "" : "")</td>
                    <td style="border:solid;">@(j < Dates[i].Count && Dates[i][j].PatWeightAfter > 0 ? Dates[i][j].PatWeightAfter + "" : "")</td>
                    @if (i + 1 < Dates.Count)
                    {
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].MacName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count ? Dates[i + 1][j].PatName : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count && Dates[i + 1][j].PatWeightBefore > 0 ? Dates[i + 1][j].PatWeightBefore + "" : "")</td>
                        <td style="border:solid;">@(j < Dates[i + 1].Count && Dates[i + 1][j].PatWeightAfter > 0 ? Dates[i + 1][j].PatWeightAfter + "" : "")</td>
                    }
                    else
                    {
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                        <td style="border:solid;"></td>
                    }
                </tr>
            }
        }
    </table>
}