<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佛山市第二人民医院 - 血液净化中心 - @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="~/Resourse/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/judge.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>

</head>
<body style="background-color:#99CCFF;">
    <script type="text/javascript">
        //验证是否正整数格式
        function CheckNum(obj) {
            if (!obj.value.match(/^[0-9]*[1-9][0-9]*$/))
                obj.value = 999;
        }
        //检查是否为空
        function isEmpty(obj) {
            if (typeof obj == "undefined" || obj == null || obj == "") {
                return true;
            } else {
                return false;
            }
        }
    </script>
    <style type="text/css">
        ul li {
            list-style: none;
            padding: 0; /* 将默认的内边距去掉 */
            margin: 2px 8px 2px 2px; /* 将默认的外边距去掉 */
            float: left; /* 往左浮动 */
        }
    </style>


    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#6699CC">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:30px;color:#FFFFFF;">血液净化中心</div>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/MacGroup/Config">区域维护</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Patient/PatientManage">病人维护</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Schedul/SchedulConfig">检查排队</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/CurrentSchedul/CurrentManage">视图管理</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Schedul/SchedulExplorer" target="_blank">表格打印</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="container body-content"style="background-color:#99CCFF;">
        @RenderBody()
        <br />
        <hr />
        <div class="clearfix">
            <footer>
                <p>&copy; @DateTime.Now.Year - 佛山市第二人民医院</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
