@{
    Layout = null;
    List<XYJHZX_MVC.Models.SchedulColumnMainModel> MainData = ViewBag.MainData;
    List<XYJHZX_MVC.Models.SchedulColumnTypeModel> TypeData = ViewBag.TypeData;

    List<XYJHZX_MVC.Models.SchedulColumnTypeModel> _schedulColumnTypeModels = new List<XYJHZX_MVC.Models.SchedulColumnTypeModel>();
    XYJHZX_MVC.Models.SchedulColumnTypeModel _schedulColumnTypeModel = new XYJHZX_MVC.Models.SchedulColumnTypeModel();
    _schedulColumnTypeModel.TypeName = "上机登记";
    _schedulColumnTypeModel.TypeSign = "1";
    _schedulColumnTypeModels.Add(_schedulColumnTypeModel);
    _schedulColumnTypeModel = new XYJHZX_MVC.Models.SchedulColumnTypeModel();
    _schedulColumnTypeModel.TypeName = "排队登记";
    _schedulColumnTypeModel.TypeSign = "2";
    _schedulColumnTypeModels.Add(_schedulColumnTypeModel);


    string Keyid = "ColumnMain";
}
<script type="text/javascript">
    function deleteMain(obj) {
        $('#TrMain_' + obj).hide();
        var x = "MainStatus_" + obj
        document.getElementById(x).value = "-1";
    }
    function EditColRows(obj) {
        var x = "MainStatus_" + obj
        document.getElementById(x).value = "1";
    }
    function EditMain(obj) {
        var colMainId = $('#ColMainId_' + obj).val();
        $.ajax({
            type: "post",
            url: "/SchedulItem/Items",
            data: { "ColMainID": colMainId },
            async: true,
            traditional: true,
            beforeSend: function () {
                $('#ItemsDev').empty().append("<h2>数据加载中。。。</h2>");
            },
            success: function (data) {
                $('#ItemsDev').empty().append(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert("保存失败：" + errorThrown);
                location.reload(true);
            }
        });
    }
    function SaveMain() {

    }
</script>


@if (MainData != null)
{
    <table id="@Keyid" class="table table-striped table-bordered">
        <tr>
            <td></td>
            <td></td>
            <td>标题名称</td>
            <td>字段类型</td>
            <td>所属分类</td>
        </tr>
        @for (int i = 0; i < MainData.Count; i++)
        {
        <tr id="TrMain_@i">
            <td><input class="btn-info" type="button" value="删除" onclick="deleteMain(@(i))" /></td>
            <td><input class="btn-info" type="button" value="修改" onclick="EditMain(@(i))" /></td>
            <td style="display:none">@Html.TextBox("ColMainId_" + i, MainData[i].ColMainId, new { @class = "form-control" })</td>
            <td><div>@Html.TextBox("ColName_" + i, MainData[i].ColName, new { @class = "form-control", @onchange = "EditColRows(" + (i) + ")" })</div></td>
            <td><div>@Html.DropDownList("Desciption_" + i, new SelectList(TypeData, "TypeSign", "TypeName", MainData[i].Desciption + ""), new { @class = "form-control", @onchange = "EditColRows(" + (i) + ")" })</div></td>
            <td><div>@Html.DropDownList("ColType_" + i, new SelectList(_schedulColumnTypeModels, "TypeSign", "TypeName", MainData[i].ColType + ""), new { @class = "form-control", @onchange = "EditColRows(" + (i) + ")" })</div></td>
            <td style="display:none"><div><input id="MainStatus_@(i)" value="@MainData[i].Status" /></div></td>
        </tr>
        }
    </table>
}